<div class="password">
    <p class="password_text">パスワード</p>
    <mat-form-field>
        <mat-label>パスワードを入力</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" (blur)="updateErrorMessage()"
            required>
        <mat-error *ngIf="password.invalid">{{passworderrorMessage}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
