<ng-container>
    <mat-card *ngIf="filteredCards.length > this.cardIndex" [@swipeOut]="animationState">
        <div [class.bg-correct]="animationState === 'correct'">
            <div class="arrow">
                <span class="dli-arrow-right"></span>
            </div>
        </div>
        <div [class.bg-incorrect]="animationState === 'incorrect'">
            <div class="close">
                <span class="dli-close"></span>
            </div>
            <div class="arrow">
                <span class="dli-arrow-left"></span>
            </div>
        </div>
        <div *ngIf="shuffleCards[this.cardIndex].text" class="quiz_text">
            {{ shuffleCards[this.cardIndex].text }}
        </div>
        <div *ngIf="shuffleCards[this.cardIndex].image" class="quiz_image">
            <img src="{{ shuffleCards[this.cardIndex].image }}" alt="">
        </div>
    </mat-card>
    <app-redirect-result-button></app-redirect-result-button>
</ng-container>
