@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Poetsen+One&family=Zen+Maru+Gothic:wght@400;500;700&display=swap");

.return_home {
  width: 100%;
  margin: 30px auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin: 0 auto;
    border-radius: 20px;
    width: 130px;
    height: 45px;
    .button_text {
      font-family: "Zen Maru Gothic", sans-serif;
      color: #92afe8;
      font-size: 24px;
      text-align: center;
      margin: 0 auto;
      font-weight: 700;
    }
  }
}
