<div class="home">
    <header class="header_title">
        <p class="header_text">DriveMeister</p>
        <span class="material-icons">
            account_circle
        </span>
    </header>

    <mat-card class="work">
        <mat-card-content>
            <div class="title">
                <p class="title_work">問題を解く</p>
            </div>
            <div class="buttons">
                <button mat-raised-button class="work_button" color="none">
                    <p class="work_text">仮免</p>
                </button>
                <button mat-raised-button class="work_button" color="none">
                    <p class="work_text">本免</p>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="review">
        <mat-card-content>
            <div class="title">
                <p class="title_review">復習</p>
            </div>
            <div class="buttons">
                <button mat-raised-button class="review_button" color="none">
                    <p class="review_text">仮免</p>
                </button>
                <button mat-raised-button class="review_button" color="none">
                    <p class="review_text">本免</p>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
