<mat-card class="work">
    <mat-card-content>
        <div class="title">
            <p class="title_work">問題を解く</p>
        </div>
        <div class="buttons">
            <button mat-raised-button class="work_button" color="none" routerLink="#">
                <p class="work_text">仮免</p>
            </button>
            <button mat-raised-button class="work_button" color="none" routerLink="#">
                <p class="work_text">本免</p>
            </button>
        </div>
    </mat-card-content>
</mat-card>
